[submodule "third-party/threadx"]
	path = third-party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third-party/netxduo"]
	path = third-party/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
